{% import "macros/header.html" as header %}
{% import "macros/date.html" as date %}
{% import "macros/index.html" as index %}

{% extends "base.html" %}

{% block title %}Tags - {{ config.extra.blog_title }}{% endblock title %}
{% block description %}All tags on {{ config.extra.blog_title }}{% endblock description %}

{% block og_title %}Tags - {{ config.extra.blog_title }}{% endblock og_title %}
{% block og_description %}All tags on {{ config.extra.blog_title }}{% endblock og_description %}
{% block og_type %}article{% endblock og_type %}
{% block og_site_name %}{{ config.extra.blog_title }}{% endblock og_site_name %}

{% block header %}
  {{ header::site_header(activePage="/blog") }}
{% endblock header %}

{% block main %}
<section>
  <h2>All Tags:</h2>
  {{ index::tag_index(tags=terms) }}
</section>
{% endblock main %}
