<p id="copyright">
  Copyright &copy; 2022-2024 Vidhu Kant Sharma
  <br>
  The text and image content on this website is licensed under 
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> 
  unless stated otherwise.
</p>
