<nav>
  <ul>
    <li>
      <a href="/blog">All Posts</a>
    </li>

    <li>
      <a href="/contact">Contact</a>
    </li>

    <li>
      <a rel="me" href="https://git.vidhukant.com">Git Server</a>
    </li>

    <li>
      <a rel="me" href="https://youtube.com/@_VidhuKant">YouTube</a>
    </li>

    <li>
      <a rel="me" href="https://ohai.social/@_VidhuKant">Mastodon</a>
    </li>

    <li>
      <a rel="me" href="https://odysee.com/@MikunoNaka">Odysee</a>
    </li>

    <li>
      <a rel="me" href="https://github.com/VidhuKant">GitHub</a>
    </li>

    <li>
      <a rel="me" href="https://gitlab.com/VidhuKant">GitLab</a>
    </li>

    <li>
      <a href="https://vidhukant.com/feed">RSS</a>
    </li>
  </ul>
</nav>
