:root {
  --color-0: #c59ff6;
  --color-1: #ffbc49;

  --bg-0: #1c1c1c;
  --fg-0: #e0e0e0;

  --bg-1: #303132;
  --fg-1: #dfdfdf;

  --fg-2: #b0b0b0;

  --content-width: 720px;
  --monospace: monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-0: #6c2ca2;
    --color-1: #5d006b;

    --bg-0: #ffffff;
    --fg-0: #232627;

    --bg-1: #dddddd;
    --fg-1: #000000;

    --fg-2: #595959;
  }
}

* { box-sizing: border-box; }

html { 
  scroll-behavior: smooth; 
  scrollbar-color: var(--color-0) var(--bg-0); 
}

body {
  background-color: var(--bg-0);
  color: var(--fg-0);
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: sans-serif;
}

a { color: var(--color-0); }

#nav-active-link{ color: var(--fg-0); }

p#top-link { text-align: right; }
p#top-link a { color: var(--color-1); }

hr {
  border: none;
  border-top: 2px dashed var(--color-0);
}

figure { margin: 2rem auto; }

figure figcaption { text-align: center; }

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
  max-height: var(--content-width);
  border: 2px solid var(--color-1);
}

header, main, footer {
  max-width: var(--content-width);
  width: 95%;
  margin: 1rem auto;
}

code, code * {
  font-family: var(--monospace);
  font-size: 1rem;
}

pre code {
  overflow-x: auto;
  display: block;
}

pre { border-radius: 4px; }

code {
  background-color: var(--bg-1);
  color: var(--fg-1);
  padding: 5px 8px;
  border-radius: 4px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#site-logo-anchor { display: contents; }
#site-logo { height: 2rem; }
#site-logo #logo--v { fill: var(--fg-0); }
#site-logo #logo--k { fill: var(--color-0); }

nav ul {
  list-style-type: none;
  display: flex;
  gap: 0.6rem;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
}

header nav ul {
  font-size: 1.2rem;
  flex-wrap: nowrap;
}

.post-tags {
  list-style-type: none;
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  padding: 0;
}

footer {
  margin-top: 4rem;
}

footer #post-footer {
  display: flex;
  justify-content: space-between;
}

footer #post-footer a {
  color: var(--color-1);
}

footer #copyright {
  font-size: 1rem;
}

#index {
  list-style-type: none;
  padding: 0;
}

#index li:not(:last-child) {
  margin-bottom: 2rem;
}

#index a { 
  color: var(--fg-0); 
  font-size: 1.4rem;
  font-weight: bold;
}

#index a:visited { color: var(--fg-2); }

#index time, #index .length {
  color: var(--color-1);
  font-family: var(--monospace);
}
