{% macro site_header(activePage="") %}
<nav>
  <a href="/" id="site-logo-anchor">
    <svg id="site-logo" role="img" viewBox="0 0 10.003774 6.65946">
      <title>{{ config.title }}</title>
      <g transform="translate(37.65209,-103.02037)">
        <path id="logo--v" d="m -37.65209,103.02037 3.695728,6.65944 v 2e-5 h 2.1e-5 1.881913 4.2e-5 l -2.2e-5,-4e-5 1.12873,-2.03387 -0.940967,-1.69557 -1.128729,2.0339 -2.75476,-4.96388 z" />
        <path id="logo--k" d="m -30.260634,103.02037 -1.482683,2.67171 h -2.2e-5 l 2.213067,3.98775 h 1.881956 l -2.213067,-3.98775 1.482705,-2.67171 z" />
      </g>
    </svg>
  </a>

  <ul>
    <li>
      <a href="/blog"{% if activePage == "/blog" %} id="nav-active-link"{% endif %}>Blog</a>
    </li>

    <li>
      <a href="/contact"{% if activePage == "/contact/" %} id="nav-active-link"{% endif %}>Contact</a>
    </li>

    <li>
      <a href="/links"{% if activePage == "/links/" %} id="nav-active-link"{% endif %}>Links</a>
    </li>
  </ul>
</nav>
{% endmacro header %}
