{% import "macros/date.html" as date %}

{% macro blog_index(posts, len=0) %}
<ol id="index" reversed>
  {% for post in posts %}
  <li>
    <p>
      <a href="{{ post.path | safe }}">{{ post.title }}</a>
      <br>
      <time datetime="{{ post.date }}">
        {{ date::format_date(date=post.date) }}
      </time>
    </p>
  </li>
  {% if loop.index == len %}{% break %}{% endif %}
  {% endfor %}
</ol>
{% endmacro blog_index %}

{% macro tag_index(tags) %}
<ul id="index">
  {% for tag in tags %}
  <li>
    <p>
      <a href="{{ tag.path | safe }}">{{ tag.name }}</a>
      <br>
      {% set qty = tag.pages | length %}
      <span class="length">{{ qty }} Post{% if qty != 1 %}s{% endif %}</span>
    </p>
  </li>
  {% endfor %}
</ul>
{% endmacro tag_index %}
