{% import "macros/date.html" as date %}

{% macro post_meta(post) %}
<h1>{{ post.title }}</h1>

{% if post.taxonomies.tags %}
<ul class="post-tags">
  {% for tag in post.taxonomies.tags %}
  <li>
    <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

<p>
  <time datetime="{{ post.date }}">
    {{ date::format_date(date=post.date) }}
  </time>
  <span>|</span>
  ~{{ post.reading_time }} minute read
</p>

<hr>
{% endmacro post_meta %}

{% macro post_footer(post) %}
<div id="post-footer">
  <a href="mailto:{{ config.extra.email }}?subject=Post Reply: {{ post.title }}">Reply to this post via email</a>
  <a href="{{ config.extra.feed_url }}">Subscribe via RSS</a>
</div>
{% endmacro post_footer %}
