<figure>
  {% if href %}<a href="{{ href }}">{% endif %}
  <img src="{{ src }}" alt="{{ alt }}"
    {% if title %}title="{{ title }}"{% endif %}
    {% if height %}height="{{ height }}"{% endif %}
    {% if width %}width="{{ width }}"{% endif %}
    >
  {% if href %}</a>{% endif %}

  {% if caption %}
  <figcaption>{{ caption | safe }}</figcaption>
  {% endif %}
</figure>
