{% import "macros/header.html" as header %}
{% import "macros/post.html" as post %}

{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.extra.blog_title }}{% endblock title %}
{% block description %}{{ page.description }}{% endblock description %}

{% block og_title %}{{ page.title }} - {{ config.extra.blog_title }}{% endblock og_title %}
{% block og_description %}{{ page.description }}{% endblock og_description %}
{% block og_type %}article{% endblock og_type %}
{% block og_site_name %}{{ config.extra.blog_title }}{% endblock og_site_name %}

{% block header %}
<section>
  {{ header::site_header(activePage="/blog") }}
</section>
<section>
  {{ post::post_meta(post=page) }}
</section>
{% endblock header %}

{% block main %}
<article>
  {{ page.content | safe }}
</article>
{% endblock main %}

{% block footer %}
{{ post::post_footer(post=page) }}
{% endblock footer %}
