{% import "macros/header.html" as header %}
{% import "macros/date.html" as date %}
{% import "macros/index.html" as index %}

{% extends "base.html" %}

{% block title %}Index - {{ config.extra.blog_title }}{% endblock title %}
{% block description %}All the blog posts on {{ config.extra.blog_title }}{% endblock description %}

{% block og_title %}Index - {{ config.extra.blog_title }}{% endblock og_title %}
{% block og_description %}All the blog posts on {{ config.extra.blog_title }}{% endblock og_description %}
{% block og_type %}article{% endblock og_type %}
{% block og_site_name %}{{ config.extra.blog_title }}{% endblock og_site_name %}

{% block header %}
{{ header::site_header(activePage="/blog") }}
{% endblock header %}

{% block main %}
<section>
  {{ section.content | safe }}
</section>

<section>
  <h2>All Posts:</h2>
  {{ index::blog_index(posts=section.pages) }}
</section>
{% endblock main %}
