{% extends "base.html" %}

{% block head_extra %}
<meta name="robots" content="noindex">
{% endblock head_extra %}

{% block title %}404 Page Not Found - {{ config.title }}{% endblock title %}
{% block description %}The requested resource was not found (404){% endblock description %}

{% block og_title %}404 Page Not Found - {{ config.title }}{% endblock og_title %}
{% block og_description %}The requested resource was not found (404){% endblock og_description %}

{% block main %}
<h1>
  The requested page was not found.
</h1>

<p>
  The URL is either invalid or the page was deleted.
  <br>
  Anyways, <a href="/">Return to the homepage.</a>
</p>
{% endblock main %}
