{% import "macros/header.html" as header %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="{{ config.author }}">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    {% block head_extra %}{% endblock head_extra %}

    {% if current_url %}
    <link rel="canonical" href="{{ current_url | safe }}" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ config.extra.feed_url | safe }}">

    <!-- OpenGraph -->
    <meta property="og:title" content="{% block og_title %}{{ config.title }}{% endblock og_title %}" />
    <meta property="og:description" content="{% block og_description %}{{ config.description }}{% endblock og_description %}" />
    <meta property="og:type" content="{% block og_type %}website{% endblock og_type %}" />
    <meta property="og:site_name" content="{% block og_site_name %}{{ config.title }}{% endblock og_site_name %}" />
    <meta property="og:image" content="{% block og_image %}{{ config.extra.feature_image | safe }}{% endblock og_image %}" />
    {% if current_url %}
    <meta property="og:url" content="{{ current_url | safe }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  </head>

  <body>
    <header id="top">
      {% block header %}
        {% if page.path %}
          {% set headerActivePage = page.path %}
        {% else %}
          {% set headerActivePage = "/" %}
        {% endif %}
        {{ header::site_header(activePage=headerActivePage) }}
      {% endblock header %}
    </header>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
    <footer>
      {% block footer %}
      {% endblock footer %}

      <hr>
      {% include "partials/footer_nav.html" %}
      <p id="top-link"><a href="#top">back to top</a></p>
      {% include "partials/copyright.html" %}
    </footer>
  </body>
</html>
