{% import "macros/header.html" as header %}
{% import "macros/index.html" as index %}

{% extends "base.html" %}

{% block main %}
<article>
  {{ section.content | safe }}
</article>

{% if config.extra.max_homepage_posts > 0 %}
{% set blog = get_section(path="blog/_index.md") %}
<article>
  <h1>Some recent blog posts:</h1>
  {{ index::blog_index(posts=blog.pages, len=config.extra.max_homepage_posts) }}
  <a href="/blog/">More posts</a>
</article>
{% endif %}
{% endblock main %}
